.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper,
.item-wrapper .mbr-overlay {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'PT Serif', serif;
  font-size: 6.2rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.75rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 3.4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.25rem;
}
.display-4 {
  font-family: 'Merriweather', serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 2.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.96rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.34rem;
    font-size: calc( 2.82rem + (6.2 - 2.82) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.82rem + (6.2 - 2.82) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.72rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 4.34rem;
    font-size: calc( 2.82rem + (6.2 - 2.82) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.82rem + (6.2 - 2.82) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 2.72rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #130101 !important;
}
.bg-success {
  background-color: #3a341c !important;
}
.bg-info {
  background-color: #320707 !important;
}
.bg-warning {
  background-color: #a0e2e1 !important;
}
.bg-danger {
  background-color: #ffea64 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #130101 !important;
  border-color: #130101 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #430404 !important;
  border-color: #430404 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #430404 !important;
  border-color: #430404 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
  color: #d70081 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #d70081 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #320707 !important;
  border-color: #320707 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5f0d0d !important;
  border-color: #5f0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #3a341c !important;
  border-color: #3a341c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5c532d !important;
  border-color: #5c532d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
  color: #1f6463 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1f6463 !important;
  background-color: #c7eeed !important;
  border-color: #c7eeed !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
  color: #645600 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 !important;
  background-color: #fff197 !important;
  border-color: #fff197 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #130101;
  color: #130101;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #130101 !important;
  border-color: #130101 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffd7ef;
  color: #ffd7ef;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff80cc !important;
  background-color: transparent !important;
  border-color: #ff80cc !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d70081 !important;
  background-color: #ffd7ef !important;
  border-color: #ffd7ef !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #320707 !important;
  border-color: #320707 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #3a341c;
  color: #3a341c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3a341c !important;
  border-color: #3a341c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #a0e2e1;
  color: #a0e2e1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5ececc !important;
  background-color: transparent !important;
  border-color: #5ececc !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1f6463 !important;
  background-color: #a0e2e1 !important;
  border-color: #a0e2e1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffde0d !important;
  background-color: transparent !important;
  border-color: #ffde0d !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 !important;
  background-color: #ffea64 !important;
  border-color: #ffea64 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #130101 !important;
}
.text-secondary {
  color: #ffd7ef !important;
}
.text-success {
  color: #3a341c !important;
}
.text-info {
  color: #320707 !important;
}
.text-warning {
  color: #a0e2e1 !important;
}
.text-danger {
  color: #ffea64 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff71c6 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52cac8 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #130101;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #a0e2e1;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #130101;
  border-color: #130101;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #130101;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f88181;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0b27c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #130101 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.5rem;
}
blockquote {
  border-color: #130101;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #130101;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #130101;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #130101;
  border-bottom-color: #130101;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #130101 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffd7ef !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23130101' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.new-font {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.new-font > .mbr-iconfont {
  font-size: 2rem;
}
.cid-vfYNwCcNDY {
  display: flex;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-vfYNwCcNDY .mbr-overlay {
  background-color: #f92c50;
  opacity: 0.5;
}
.cid-vfYNwCcNDY .mbr-fallback-image.disabled {
  display: none;
}
.cid-vfYNwCcNDY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vfYNwCcNDY .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 992px) {
  .cid-vfYNwCcNDY .content-wrap {
    padding: 5rem 3rem;
  }
}
@media (min-width: 768px) {
  .cid-vfYNwCcNDY {
    align-items: center;
  }
  .cid-vfYNwCcNDY .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vfYNwCcNDY .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vfYNwCcNDY {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-vfYNwCcNDY .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vfYNwCcNDY .content-wrap {
    width: 100%;
  }
}
.cid-vfYNwCcNDY .mbr-section-title {
  text-align: center;
}
.cid-vfYNwCcNDY .mbr-text,
.cid-vfYNwCcNDY .mbr-section-btn {
  text-align: center;
}
.cid-vfZ0xYNkkB {
  display: flex;
}
.cid-vfZ0xYNkkB .mbr-fallback-image.disabled {
  display: none;
}
.cid-vfZ0xYNkkB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-vfZ0xYNkkB .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 992px) {
  .cid-vfZ0xYNkkB .content-wrap {
    padding: 5rem 3rem;
  }
}
@media (min-width: 768px) {
  .cid-vfZ0xYNkkB {
    align-items: center;
  }
  .cid-vfZ0xYNkkB .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vfZ0xYNkkB .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vfZ0xYNkkB {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-vfZ0xYNkkB .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vfZ0xYNkkB .content-wrap {
    width: 100%;
  }
}
.cid-vfZ0xYNkkB .mbr-section-title {
  text-align: justify;
  color: #f7f7f7;
}
.cid-vfZ0xYNkkB .mbr-text,
.cid-vfZ0xYNkkB .mbr-section-btn {
  text-align: justify;
}
.cid-vfZcfCrABE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-vfZcfCrABE h6 {
  line-height: 1.2;
}
.cid-vfZcfCrABE img,
.cid-vfZcfCrABE .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-vfZcfCrABE .item:focus,
.cid-vfZcfCrABE span:focus {
  outline: none;
}
.cid-vfZcfCrABE .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vfZcfCrABE .item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-vfZcfCrABE .mbr-section-content {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}
.cid-vfZcfCrABE .item-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vfZcfCrABE .mbr-section-btn {
  margin-top: auto !important;
  text-align: center;
}
.cid-vfZcfCrABE .mbr-section-title {
  color: #000000;
}
.cid-vfZcfCrABE .mbr-text,
.cid-vfZcfCrABE .mbr-section-btn {
  color: #000000;
}
.cid-vfZcfCrABE .item-title {
  color: #000000;
  text-align: center;
}
.cid-vfZcfCrABE .item-subtitle {
  color: #000000;
  text-align: center;
}
.cid-vfZcfCrABE .item-text {
  color: #000000;
  text-align: center;
}
.cid-vfZcfCrABE .content-head {
  max-width: 800px;
}
.cid-vfZhg5Rwdp {
  display: flex;
}
.cid-vfZhg5Rwdp .mbr-fallback-image.disabled {
  display: none;
}
.cid-vfZhg5Rwdp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-vfZhg5Rwdp .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 992px) {
  .cid-vfZhg5Rwdp .content-wrap {
    padding: 5rem 3rem;
  }
}
@media (min-width: 768px) {
  .cid-vfZhg5Rwdp {
    align-items: center;
  }
  .cid-vfZhg5Rwdp .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vfZhg5Rwdp .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vfZhg5Rwdp {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-vfZhg5Rwdp .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vfZhg5Rwdp .content-wrap {
    width: 100%;
  }
}
.cid-vfZhg5Rwdp .mbr-section-title {
  text-align: justify;
  color: #000000;
}
.cid-vfZhg5Rwdp .mbr-text,
.cid-vfZhg5Rwdp .mbr-section-btn {
  text-align: justify;
  color: #130101;
}
.cid-vfZkSZiAkQ {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-vfZkSZiAkQ .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-vfZkSZiAkQ img,
.cid-vfZkSZiAkQ .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-vfZkSZiAkQ .item:focus,
.cid-vfZkSZiAkQ span:focus {
  outline: none;
}
.cid-vfZkSZiAkQ .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vfZkSZiAkQ .item {
    margin-bottom: 1rem;
  }
}
.cid-vfZkSZiAkQ .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vfZkSZiAkQ .mbr-section-title {
  color: #232323;
}
.cid-vfZkSZiAkQ .mbr-text,
.cid-vfZkSZiAkQ .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-vfZkSZiAkQ .item-title {
  color: #000000;
  text-align: center;
}
.cid-vfZkSZiAkQ .content-head {
  max-width: 800px;
}
.cid-vfZqkcqYE8 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-vfZqkcqYE8 .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-vfZqkcqYE8 img,
.cid-vfZqkcqYE8 .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-vfZqkcqYE8 .item:focus,
.cid-vfZqkcqYE8 span:focus {
  outline: none;
}
.cid-vfZqkcqYE8 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vfZqkcqYE8 .item {
    margin-bottom: 1rem;
  }
}
.cid-vfZqkcqYE8 .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vfZqkcqYE8 .mbr-section-title {
  color: #232323;
}
.cid-vfZqkcqYE8 .mbr-text,
.cid-vfZqkcqYE8 .mbr-section-btn {
  color: #130101;
  text-align: center;
}
.cid-vfZqkcqYE8 .item-title {
  color: #130101;
  text-align: center;
}
.cid-vfZqkcqYE8 .content-head {
  max-width: 800px;
}
.cid-vfZq6AJSqA {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-vfZq6AJSqA .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-vfZq6AJSqA img,
.cid-vfZq6AJSqA .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-vfZq6AJSqA .item:focus,
.cid-vfZq6AJSqA span:focus {
  outline: none;
}
.cid-vfZq6AJSqA .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vfZq6AJSqA .item {
    margin-bottom: 1rem;
  }
}
.cid-vfZq6AJSqA .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-vfZq6AJSqA .mbr-section-title {
  color: #232323;
}
.cid-vfZq6AJSqA .mbr-text,
.cid-vfZq6AJSqA .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-vfZq6AJSqA .item-title {
  color: #232323;
  text-align: center;
}
.cid-vfZq6AJSqA .content-head {
  max-width: 800px;
}
.cid-vg4Eptmfkb {
  display: flex;
  background-image: url("../../../assets/images/melo-1974x1109.jpg");
}
.cid-vg4Eptmfkb .mbr-overlay {
  background-color: #130101;
  opacity: 0.5;
}
.cid-vg4Eptmfkb .mbr-fallback-image.disabled {
  display: none;
}
.cid-vg4Eptmfkb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vg4Eptmfkb .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 992px) {
  .cid-vg4Eptmfkb .content-wrap {
    padding: 5rem 3rem;
  }
}
@media (min-width: 768px) {
  .cid-vg4Eptmfkb {
    align-items: center;
  }
  .cid-vg4Eptmfkb .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vg4Eptmfkb .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vg4Eptmfkb {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-vg4Eptmfkb .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vg4Eptmfkb .content-wrap {
    width: 100%;
  }
}
.cid-vg4Eptmfkb .mbr-section-title {
  text-align: center;
}
.cid-vg4Eptmfkb .mbr-text,
.cid-vg4Eptmfkb .mbr-section-btn {
  text-align: center;
}
.cid-vfZoRiQBTN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-vfZoRiQBTN .mbr-fallback-image.disabled {
  display: none;
}
.cid-vfZoRiQBTN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vfZoRiQBTN .footer-col {
  justify-content: space-between;
  display: flex;
}
@media (max-width: 767px) {
  .cid-vfZoRiQBTN .footer-col {
    flex-direction: column;
  }
}
.cid-vfZoRiQBTN .row {
  background: #ffffff;
  padding: 4rem 3rem;
  border-radius: 2rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-vfZoRiQBTN .row {
    padding: 2rem 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-vfZoRiQBTN .row {
    padding: 2.25rem 1.25rem;
  }
}
@media (min-width: 992px) {
  .cid-vfZoRiQBTN .row {
    padding: 4rem 3rem;
  }
}
@media (max-width: 767px) {
  .cid-vfZoRiQBTN .mbr-section-btn {
    text-align: center;
  }
}
.cid-vfZoRiQBTN .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-vfZoRiQBTN .soc-item {
  margin: 8px;
}
.cid-vfZoRiQBTN .soc-item a:hover .mbr-iconfont,
.cid-vfZoRiQBTN .soc-item a:focus .mbr-iconfont {
  background-color: #130101;
}
.cid-vfZoRiQBTN .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 20px;
  background-color: #ffffff;
  color: #130101;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .cid-vfZoRiQBTN .row {
    text-align: center;
  }
  .cid-vfZoRiQBTN .social-row {
    justify-content: center;
  }
}
.cid-vfZoRiQBTN .list {
  list-style: none;
  padding-left: 0;
  color: #502274;
}
@media (max-width: 991px) {
  .cid-vfZoRiQBTN .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-vfZoRiQBTN .list {
    margin-bottom: 0rem;
  }
}
.cid-vfZoRiQBTN .mbr-text {
  color: #bbbbbb;
}
.cid-vfZoRiQBTN .mbr-section-subtitle {
  color: #000000;
}
.cid-vfZoRiQBTN .list,
.cid-vfZoRiQBTN .item-wrap {
  color: #232323;
}
.cid-vfZoRiQBTN .copyright {
  color: #000000;
}
.cid-vgaYCZqSBD {
  display: flex;
  background-image: url("../../../assets/images/duic-1-967x403.jpg");
}
.cid-vgaYCZqSBD .mbr-overlay {
  background-color: #130101;
  opacity: 0.5;
}
.cid-vgaYCZqSBD .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaYCZqSBD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaYCZqSBD .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 992px) {
  .cid-vgaYCZqSBD .content-wrap {
    padding: 5rem 3rem;
  }
}
@media (min-width: 768px) {
  .cid-vgaYCZqSBD {
    align-items: center;
  }
  .cid-vgaYCZqSBD .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vgaYCZqSBD .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vgaYCZqSBD {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-vgaYCZqSBD .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vgaYCZqSBD .content-wrap {
    width: 100%;
  }
}
.cid-vgaYCZqSBD .mbr-section-title {
  text-align: center;
}
.cid-vgaYCZqSBD .mbr-text,
.cid-vgaYCZqSBD .mbr-section-btn {
  text-align: center;
}
.cid-vgaNB5Te6c {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #130101;
}
.cid-vgaNB5Te6c .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaNB5Te6c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaNB5Te6c .mbr-text {
  color: #000000;
}
.cid-vgaNB5Te6c .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-vgaNB5Te6c .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vgaNB5Te6c .main-button {
    margin-bottom: 2rem;
  }
}
.cid-vgaNB5Te6c .mbr-section-subtitle,
.cid-vgaNB5Te6c .main-button {
  color: #ffffff;
  text-align: justify;
}
.cid-vgaNB5Te6c .mbr-section-title {
  color: #ffffff;
}
.cid-vgaRcGDjaQ {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #130101;
}
.cid-vgaRcGDjaQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaRcGDjaQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaRcGDjaQ .mbr-text {
  color: #000000;
}
.cid-vgaRcGDjaQ .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-vgaRcGDjaQ .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vgaRcGDjaQ .main-button {
    margin-bottom: 2rem;
  }
}
.cid-vgaRcGDjaQ .mbr-section-subtitle,
.cid-vgaRcGDjaQ .main-button {
  color: #ffffff;
}
.cid-vgaRR0nGwL {
  background-color: #130101;
}
.cid-vgaRR0nGwL .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaRR0nGwL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaRR0nGwL .row {
  flex-direction: row-reverse;
}
.cid-vgaRR0nGwL .mbr-description {
  color: #ffffff;
}
.cid-vgaYiQh9X4 {
  background-color: #130101;
}
.cid-vgaYiQh9X4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaYiQh9X4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaYiQh9X4 .text-wrapper {
  padding: 1rem;
}
@media (max-width: 991px) {
  .cid-vgaYiQh9X4 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vgaYiQh9X4 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgaYiQh9X4 .text-wrapper {
    padding: 2rem;
  }
}
.cid-vgaYiQh9X4 .mbr-section-title {
  color: #ffffff;
}
.cid-vgaVd91wdb {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/over3-1-967x439.jpg");
}
.cid-vgaVd91wdb .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaVd91wdb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaVd91wdb .mbr-text {
  color: #000000;
}
.cid-vgaVd91wdb .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-vgaVd91wdb .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vgaVd91wdb .main-button {
    margin-bottom: 2rem;
  }
}
.cid-vgaVd91wdb .mbr-section-subtitle,
.cid-vgaVd91wdb .main-button {
  color: #ffffff;
}
.cid-vgaVd91wdb .mbr-section-title {
  color: #ffffff;
}
.cid-vgaVSxAznV {
  background-image: url("../../../assets/images/over4-1-967x405.jpg");
}
.cid-vgaVSxAznV .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaVSxAznV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgaVSxAznV .row {
  flex-direction: row-reverse;
}
.cid-vgaVSxAznV .mbr-description {
  color: #ffffff;
}
.cid-vgaZBhgksK {
  background-image: url("../../../assets/images/overhead555-1-967x405.jpg");
}
.cid-vgaZBhgksK .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgaZBhgksK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vgaZBhgksK .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vgaZBhgksK .row {
  flex-direction: row-reverse;
}
.cid-vgaZBhgksK img {
  width: 100%;
}
.cid-vgaZBhgksK .mbr-description {
  color: #ffffff;
}
.cid-vggjeUgE91 {
  display: flex;
  background-image: url("../../../assets/images/overhead7-1-967x544.jpg");
}
.cid-vggjeUgE91 .mbr-overlay {
  background-color: #000000;
  opacity: 0.2;
}
.cid-vggjeUgE91 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vggjeUgE91 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vggjeUgE91 .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 992px) {
  .cid-vggjeUgE91 .content-wrap {
    padding: 5rem 3rem;
  }
}
@media (min-width: 768px) {
  .cid-vggjeUgE91 {
    align-items: center;
  }
  .cid-vggjeUgE91 .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-vggjeUgE91 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-vggjeUgE91 {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-vggjeUgE91 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-vggjeUgE91 .content-wrap {
    width: 100%;
  }
}
.cid-vggjeUgE91 .mbr-section-title {
  text-align: right;
}
.cid-vggjeUgE91 .mbr-text,
.cid-vggjeUgE91 .mbr-section-btn {
  text-align: center;
}
.cid-vgb1aPk7AG {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/leading2-1-967x403.jpg");
}
.cid-vgb1aPk7AG .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgb1aPk7AG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgb1aPk7AG .mbr-text {
  color: #000000;
}
.cid-vgb1aPk7AG .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-vgb1aPk7AG .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vgb1aPk7AG .main-button {
    margin-bottom: 2rem;
  }
}
.cid-vgb1aPk7AG .mbr-section-subtitle,
.cid-vgb1aPk7AG .main-button {
  color: #ffffff;
}
.cid-vgb1aPk7AG .mbr-section-title {
  color: #ffffff;
}
.cid-vgb4Y07GY1 {
  background-image: url("../../../assets/images/leading3-1-967x523.jpg");
}
.cid-vgb4Y07GY1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgb4Y07GY1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vgb4Y07GY1 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vgb4Y07GY1 .row {
  flex-direction: row-reverse;
}
.cid-vgb4Y07GY1 img {
  width: 100%;
}
.cid-vgb4Y07GY1 .mbr-description {
  color: #ffffff;
}
.cid-vgb5Qm9Sga {
  background-image: url("../../../assets/images/leading4-1-967x484.jpg");
}
.cid-vgb5Qm9Sga .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgb5Qm9Sga .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vgb5Qm9Sga .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vgb5Qm9Sga .row {
  flex-direction: row-reverse;
}
.cid-vgb5Qm9Sga img {
  width: 100%;
}
.cid-vgb5Qm9Sga .mbr-description {
  color: #ffffff;
}
.cid-vggjQ3EBxk {
  background-image: url("../../../assets/images/leading620-967x405.jpg");
}
.cid-vggjQ3EBxk .mbr-fallback-image.disabled {
  display: none;
}
.cid-vggjQ3EBxk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vggjQ3EBxk .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vggjQ3EBxk .row {
  flex-direction: row-reverse;
}
.cid-vggjQ3EBxk img {
  width: 100%;
}
.cid-vggjQ3EBxk .mbr-description {
  color: #ffffff;
}
.cid-vgb6YWzorB {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/screenshot202026-04-0820at202.32.34e280afpm-1176x1560.png");
}
.cid-vgb6YWzorB .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgb6YWzorB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vgb6YWzorB .mbr-text {
  color: #000000;
}
.cid-vgb6YWzorB .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-vgb6YWzorB .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-vgb6YWzorB .main-button {
    margin-bottom: 2rem;
  }
}
.cid-vgb6YWzorB .mbr-section-subtitle,
.cid-vgb6YWzorB .main-button {
  color: #000000;
  text-align: left;
}
.cid-vgbabZvDHI {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/low-1-967x510.jpg");
}
.cid-vgbabZvDHI .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgbabZvDHI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vgbabZvDHI .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vgbabZvDHI .row {
  flex-direction: row-reverse;
}
.cid-vgbabZvDHI img {
  width: 100%;
}
.cid-vgbabZvDHI .mbr-description {
  color: #ffffff;
}
.cid-vgbaMFdgzv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/low3-1-967x481.jpg");
}
.cid-vgbaMFdgzv .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgbaMFdgzv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vgbaMFdgzv .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vgbaMFdgzv .row {
  flex-direction: row-reverse;
}
.cid-vgbaMFdgzv img {
  width: 100%;
}
.cid-vgbaMFdgzv .mbr-description {
  color: #ffffff;
}
.cid-vgbbAIbM29 {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/low99-1-967x403.jpg");
}
.cid-vgbbAIbM29 .mbr-fallback-image.disabled {
  display: none;
}
.cid-vgbbAIbM29 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-vgbbAIbM29 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-vgbbAIbM29 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-vgbbAIbM29 .text-wrapper {
    padding: 2rem;
  }
}
.cid-vgbbAIbM29 .mbr-section-title {
  color: #ffffff;
}
.cid-vgg6cP1SNp {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/duic-1-967x403.jpg");
  overflow: hidden;
}
